[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true
name = "pytorch_cpu"

[packages]
h5py = "*"
numpy = "*"
scikit-learn = "*"
tensorflow = "*"
matplotlib = "*"
mne = "*"
scipy = "*"
sbi = "*"
seaborn = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
